:root{
    --nav-bg: rgb(7, 18, 55);
    --body-bg: rgb(41, 17, 226);
    --font-color-white: white;
    --add-bg: rgb(0, 0, 0, 1);
    --add-box: rgb(0, 0, 0, 0.91);
    --add-btn-bg:  rgb(6, 6, 14,);
    --form-btn: rgb(50, 50, 129);
    --select-nav:rgba(94, 100, 126, 0.822);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

background: linear-gradient(to right, #17173c, #19215a, #0c1541); 
}
nav {
    display: grid;
    grid-template-columns: 4fr 3fr 1fr;
    background-color: var(--nav-bg);
    color: var( --font-color-white);
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Mulish', sans-serif;
    width: 100%;
    user-select: none;
    position: fixed;
    z-index: 2;
    gap: 30px;
  
}

nav h1 {
    justify-self: start;
    margin-left: 2rem;
    border-bottom:1px solid rgb(255, 255, 255);
   
}
.nav-btn{
  
}
.nav-select{
    
}
.nav-options{
   

}
.nav-select:hover{

    width: 100%;
}



.search-bar-container{
   position: relative;


}

.search-drop-down{
position: absolute;
width: 90px;
height: 28px;
background: rgb(36, 30, 96);
border-radius: 20px 0 0 20px;
top: 4px;
display: grid;
align-items: center;
padding-left: 8px;
cursor: pointer;
border: 0.5px solid rgb(0, 0, 0, 0.2);

}
.search-drop-down .drop-item{
    position: relative;
}
.drop-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    padding-top: 2px;
    position: absolute;
    font-size: 0.8rem;
}
.option-1{
    top: 0px;
    left: -8px;
}
#selected-option{
    padding-left: 15px;
}
#other-option{
    width: 100%;
    text-align: center;
}
.option-2{
    font-size: 14px;
    width: 70px;
    height: 23px;
    top: -23px;
    left: 3px;
    border-radius: 0px 0 5px 5px;
    background: rgb(36, 30, 96);
    z-index: -1;
    transition: transform 0.1s linear;
  
}

.option-2:hover{
    background: var(--body-bg);
    
}

.option-2-drop{
    transform: translate(0, 23px);
}





#down-select{
margin: 3px 0 0 2px;
width: 15px;
transition: transform 0.2s linear;
}

.down-animation{
    transform: rotate(270deg);
}


#search-bar{
    padding: 5px 8px 5px 95px;
    margin-top: 4px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: 0.5px solid rgb(0, 0, 0, 0.2);
    height: 28px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    background: #ffffff46;
    color: rgb(13, 14, 15);
}

#search-bar::placeholder{
    color: rgb(234, 223, 223);
    opacity: 0.5;
    font-size: 18px;
}
nav h2{
    cursor: pointer;
    align-self: center;
}

.nav-options{
    justify-self: end;
    align-items: center;
    display: flex;
    gap: 3rem;
    cursor: pointer;

}

.bg-div{ /* low opacity background behind add box container */
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    display: none;
    z-index: 2;
}




                                                                /* add a box nav button */
.add-box-container{/* add a box button nav */
    width: 100%;
    padding: 2px;
    background: var(--add-bg);
    text-align: center;
    color: var( --font-color-white);
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
    position: fixed;
    top:71px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 33px;

}

.add-box-container:hover{
    background: rgb(20, 20, 20, 0.95);
    height: 40px;
    top: 67px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.add-box-container:active{
    top:71px;
    height: 33px;
}
.add-box-container h2{
    align-self: center;

}



#plus-svg{
    width: 25px;
    fill: white;
    margin-left: 3px;

    align-self: center;
}
.plus-effect{
    animation: infinite linear 2s plusAnimate;
}
@keyframes plusAnimate {
    0%{
        transform: scale(1);
        transform: rotate(180deg);
    }
    6%{
        transform: rotate(0deg);
    }
    50%{
        transform: scale(1.5);
    }
    85%{
     transform: rotate(-360deg);;
    }
    100%{
        transform: scale(1);
    }
}



                                                                        /* select book drop down style */
.select-container{
    width: 400px;
    height: 300px;
    border: 1.5px solid rgba(171, 172, 237, 0.626);
    position: absolute;
    border-radius: 5px;
    cursor: pointer;

}
@keyframes expand{
    0%{height:0px}
    100%{height:1000px}
}


.selected-book{

    background:rgba(171, 172, 237, 0.129) !important;
}

.select-circle{
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background: rgba(83, 84, 111, 0.971);
    top: -10px;
    left: -10px;
    border: 0.1px solid rgba(171, 172, 237, 0.626);
    border-left: 4px solid rgba(171, 172, 237, 0.626);
;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.select-circle-point{
    width:18px;
    height: 18px;
    position: absolute;
    background: rgba(21, 71, 158, 0.336);
    border-radius: 50px;
    border: none;
    top: -5px;
    left: -3px;
    box-shadow:
    0 0 40px 3px #fff,
    0 0 80px 6px rgb(221, 217, 18, 0.5), 
    0 0 120px 9px rgb(27, 85, 191, 0.3);
  
}

.circle-point-shown{
    display: none;
}


                                                                                /* select nav options */
.select-nav-menu{
    position: fixed;
    width: 100%;
    max-height: 30px;
    background: var(--select-nav);
    z-index: 1;
    top:70px;
    display: none;
    justify-content: center;
    align-items: center;
    animation: expand 0.3s;
}
@keyframes expand{
    0%{top:30px}
    100%{top:70px}
}

.select-container:hover{
        background: rgba(171, 172, 237, 0.126);
}

.select-menu-items{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
 
    width: 100%;
    font-family: 'Mulish', sans-serif;
    color:rgb(213, 213, 226);
 
    align-items: center;
  user-select: none;
    justify-content: space-evenly;

}
.num-items-selected{
    justify-self: center;
}
.close-select-nav{
    justify-self: end;
    color: rgba(12, 10, 28, 0.544);
    font-weight: bolder;
    font-size: 1.4rem;
    margin-right: 5px;
    cursor: pointer;

}
.close-select-nav:hover{
    transform: scale(1.2);
    color: rgb(210, 79, 79);
}
.close-select-nav:active{
    transform: scale(1);
}
sup{
    font-size: 0.7rem;
    color:rgb(213, 213, 226);
}
.select-nav-btn{
    max-height: 30px;
    outline: none;
    border-left: 2px solid rgba(0, 0, 0, 0.251);
    border-right: 2px solid rgba(0, 0, 0, 0.251);
    padding: 3px;
    background: rgba(128, 128, 128, 0.262);
   border-top:0 ;
   border-bottom: 0;
    color: rgba(223, 227, 233, 0.574);
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    max-width: 250px;
    min-width: 120px;
}










                                                                                /* add book box */
.add-box{ 
    position: fixed;
    width: 500px;
    height:500px;
    top: 50%;
    left: 50%;
    margin-top: -250px; 
    margin-left: -250px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
    background: var(--add-box);
    color: rgb(203, 192, 192);
    font-family: 'Rajdhani', sans-serif;
    padding: 60px 40px;
    display: none;
    user-select: none;
}

.input-container{
    margin-bottom: 1.8rem;
    font-size: 1.2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5px;
}

.input-container input[type=text]{
    outline: none;
    background: none;
    all:unset;
    border-bottom: 1px solid rgba(238, 236, 236, 0.3);
    padding: 2px 2px 3px 5px;
    font-family: 'Rajdhani', sans-serif;
    color: var(--font-color-white);
    font-size: 1.2rem;
}

input[type=text]:focus::-webkit-input-placeholder{
     color:transparent; 

}

.close-btn {
    text-align: end;
    width: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
    transition: transform, opacity 0.2s linear;
    user-select: none;
   
}
.close-btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
.close-btn:active{
    transform: scale(1);
    opacity: 1;
}
                                                                /* form */
form{
    display: grid;
}
.add-box-main-form{
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background: var(--form-btn);
    border: none;
    color:var(--font-color-white);
    font-family: 'Mulish', sans-serif;
    outline: none;
    
}

.pages-read {
   visibility: hidden;
}









                                                                /*book*/


.book-container{

    padding: 150px 30px 20px 30px;
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    grid-template-rows: repeat( auto-fit, minmax(300px, 1fr) );
    align-items: center;
    justify-items: center;
    gap: 40px;

}                                                                

.book{

    width:400px;
    height: 300px;
    background: rgb(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(133, 132, 132, 0.25) 0px 10px 55px, rgba(135, 132, 132, 0.12) 0px -12px 30px, rgba(112, 109, 109, 0.12) 0px 4px 6px, rgba(104, 102, 102, 0.17) 0px 12px 13px, rgba(110, 106, 106, 0.09) 0px -3px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    position: relative;
}
.book img {
    width: 100px;
    grid-column: 1 / 2;
    border-radius: 13px;
  
   
}
.title-author{
    grid-column: 2 / 5;
    align-content: start;
    margin-left: 15px;
    line-height: 2rem;
}
.page-progress{
    grid-column: 1 / 3;
    font-family: 'Rajdhani', sans-serif;
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   color: rgb(153, 159, 186);
    user-select: none;
    
}
.current-page-text{
    color: #dee2ed;
    white-space: nowrap;
   text-align: center;
   display: block;
   width: 120px;
}
.progress-bar-container{
    grid-column: 3 / 5;
    margin-left: 20px;
}
.book-title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    text-overflow: ellipsis;
}
.book-author{
    font-family: 'Sarabun', sans-serif;
}
.divider{
    margin: 0 4px;
    font-size: 1.7rem;
}
.total-pages{
   
   margin-left: 3px;
}

.arrow-container{
    position: relative;

 
    width: 36px;
}
.arrow-container .arrow {
    position: absolute;
    width: 25px;
    cursor: pointer;
}

.arrow-container .up{
    top: -24px;
    left: 85%;
    transition: transform 0.2s linear;
}
.arrow-container .up:hover{
    transform: scale(1.5);
}
.arrow-container .up:active{
    transform: scale(1);
}
.arrow-container .down{
    top: 17px;
    left: 85%;
    transition: transform 0.2s linear;
}
.arrow-container .down:hover{
    transform: scale(1.5);
}
.arrow-container .down:active{
    transform: scale(1);
}
.current-page{
    display: block;
    text-align: end;

  
}
.bar {
    display: inline-block;
    width: 100%;
    background: rgba(67, 65, 65, 0.9);
    /* background: rgba(67, 65, 65, 0.9); background bar   */
    border-radius: 3px;
  
  }
.bar-progress{
    background: rgb(107, 122, 209);  
    border-radius: 3px;
    height: 10px;
    width: 100%;
    transition: width 0.5s linear;
}

.book-btn{
  background-color: rgb(220, 155, 34);
}
.delete-book, .edit-book{
    position:absolute;
    cursor: pointer;
    transition: transform 0.1s linear;
    
}
.book .delete-book{
    top:4px;
    width: 25px;
    left: 345px;
}
.delete-book:hover, .edit-book:hover{
    transform: scale(1.2);
}
.delete-book:active, .edit-book:active{
    transform: scale(1);
}

.book .edit-book{
    width: 20px;
    top:6px;
    left:310px;
}

.low-opacity{
    opacity: 0.4;
}
.hold-delete-text, .hold-edit-text{
    position: absolute;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    display: none;
    top: -23px;
    border-radius: 15px;
    border: 0.5px solid rgba(178, 171, 171, 0.5); 
    padding: 2px 5px;
}
.hold-delete-text{
    right: -60px;
}
.hold-edit-text{
    right:  43px;

}











                                                                    /* switch button */

.toggle{
    padding-right: 35px;
    --width: 50px;
    --height: calc(var(--width) / 2);
    width: 100%;
    display: flex;
    justify-content: center;
}
.moving-text-yes{
    margin-right: 15px;
    color:rgb(110, 119, 110);
    transition: transform 0.3s;

}

.moving-text-no{
    transform: translate(100px);
}
.toggle h4 {
    font-size: 1.2rem;
}
.toggle-fill{
    position: relative;
    width:var(--width);
    height: var(--height);
    box-shadow: 0 0 12px rgb(168, 154, 154, 0.5);
    background: rgb(88, 179, 88);
    transition: background 0.2s;
    border-radius: 2px;
 
}
.toggle-fill::after {
    content: "";
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width:var(--height);
    background: rgb(0, 0, 0, 0.6);
    border-radius: 2px;
    transition: transform 0.2s;
}
.toggle-input:checked ~ .toggle-fill {
    background: rgb(172, 77, 77);
}
.toggle-input:checked ~ .toggle-fill::after {
    transform: translateX(var(--height));
}
.toggle-input{
    display: none;

}



.empty-text{
    align-self: center;
    top:0;
    left:0;
   font-size: calc(0.5rem + 1.5vw);
   font-family: 'Urbanist', sans-serif;
   text-align: center;
   color:rgb(160, 153, 182);
   width: 80%;
   line-height: 1.8em;
   user-select: none;
    text-shadow: 0px 0px 7px black ;
  
}
.empty-text span{
    color:#434b73;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    border: 0.5px solid rgb(128, 128, 128, 0.3);
    border-radius: 10px;
    padding: 3px;
   
  
}

.wiggle-effect{
    animation:infinite ease-in-out 0.1s wiggle;
}

@keyframes wiggle {
    0%{
        color: rgb(188, 169, 169);
        transform: translate(0px);
    }
    50%{
        color: rgb(149, 131, 131);
        transform: translate(-7px);
    }
    100%{
        color:rgb(146, 127, 127);
        transform:translate(7px)
    }
}



                                                                                        /* table */









@media screen and (max-width:1300px){
    nav{
        grid-template-columns: 4fr 5fr 1fr;
    }
}

@media screen and (max-width:1000px){
    nav{
        grid-template-columns: 4fr 8fr 1fr;
    }
}
